.git
.github
.gradle
.idea
.vscode
.dart_tool
build/app
build/ios
build/windows
build/linux
build/macos
android/.gradle
android/app/build
ios/Pods
windows/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
*.apk
*.aab
